<div class="container center">

        <h1 style="margin-top: 0px;">Welcome, {{username}}</h1>
        <div>
                <form action="/logout" method="POST">
                        <button class="button-primary backbtn" value='back' type="submit" name="logout"
                                style="float:right; color:rgb(0, 0, 0)">LOGOUT</button>
                </form>
        </div>

        <form action="/waiters" method="POST">
                <div class="error">
                        {{messages.error}}
                </div>


                <h3>Select days to work:</h3>
                <div class="row col-12">
                        {{#each everyday}}
                        {{#if (checkDays this.days ../days)}}
                        <ul style="float:left;padding-left: 0px; margin-left: 20px"><label
                                        style="color:rgb(255, 255, 255); font-size: 17px">{{this.days}}<input
                                                type="checkbox" name="weekdays" value="{{this.days}}" checked><span
                                                class="checkmark"></span></label>
                        </ul>
                        {{else}}
                        <ul style="float:left;padding-left: 0px; margin-left: 20px"><label
                                        style="color:rgb(255, 255, 255); font-size: 17px">{{this.days}}<input
                                                type="checkbox" name="weekdays" value="{{this.days}}"><span
                                                class="checkmark"></span></label>
                        </ul>
                        {{/if}}
                        {{/each}}

                </div>
                <div>
                        <button class="confirmBtn" type="submit" name="confirm"
                                style="margin: 15px; color:rgb(0, 0, 0)">CONFIRM</button>
                </div>

        </form>

        <div class="row">
                <div class="center">
                        <div class="workdays {{levelMon}}">
                                <u>Monday</u>
                                <br>
                                waiters: {{MON}}
                        </div>


                        <div class="workdays {{levelTues}}">
                                <u>Tuesday</u>
                                <br>
                                waiters: {{TUES}}
                        </div>



                        <div class="workdays {{levelWed}}">
                                <u>Wednesday</u>
                                <br>
                                waiters: {{WED}}
                        </div>



                        <div class="workdays {{levelThurs}}">
                                <u>Thursday</u>
                                <br>
                                waiters: {{THURS}}
                        </div>


                        <div class="workdays {{levelFri}}">
                                <u>Friday</u>
                                <br>
                                waiters: {{FRI}}
                        </div>

                        <div class="workdays {{levelSat}}">
                                <u>Saturday</u>
                                <br>
                                waiters: {{SAT}}
                        </div>

                        <div class="workdays {{levelSun}}">
                                <u>Sunday</u>
                                <br>
                                waiters: {{SUN}}
                        </div>

                </div>
        </div>
</div>