<div class="container center">

        <h1 style="margin-top: 0px;">Welcome, {{username}}</h1>
        <div>
                <form action="/logout" method="POST">
                        <button class="button-primary backbtn" value='back' type="submit" name="logout"
                                style="float:right; color:rgb(0, 0, 0)">LOGOUT</button>
                </form>
        </div>

        <form action="/waiters" method="POST">
                <div class="error">
                        {{messages.error}}
                </div>


                <h3>Select days to work:</h3>
                <div class="row col-12">
                        {{#each everyday}}
                        {{#if (checkDays ../username this.days ../days)}}
                        <ul style="float:left;padding-left: 0px; margin-left: 20px"><label
                                        style="color:rgb(255, 255, 255); font-size: 17px">{{this.days}}<input type="checkbox"
                                                name="weekdays" value="{{this.days}}" checked><span class="checkmark"></span></label>
                        </ul>
                        {{else}}
                        <ul style="float:left;padding-left: 0px; margin-left: 20px"><label
                                        style="color:rgb(255, 255, 255); font-size: 17px">{{this.days}}<input type="checkbox"
                                                name="weekdays" value="{{this.days}}"><span class="checkmark"></span></label>
                        </ul>
                        {{/if}}
                        {{/each}}

                        <button class="confirmBtn" type="submit" name="confirm"
                                style="margin: 15px; color:rgb(0, 0, 0)">CONFIRM</button>
                </div>
        </form>

        <div class="row">
                <div class="center">
                        <ul class="{{levelMon}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:40px">
                                <u>Monday</u>
                                <br>
                                waiters: {{MON}}
                        </ul>
                        <ul class="{{levelTues}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Tuesday</u>
                                <br>
                                waiters: {{TUES}}
                        </ul>
                        <ul class="{{levelWed}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Wednesday</u>
                                <br>
                                waiters: {{WED}}
                        </ul>
                        <ul class="{{levelThurs}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Thursday</u>
                                <br>
                                waiters: {{THURS}}
                        </ul>
                        <ul class="{{levelFri}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Friday</u>
                                <br>
                                waiters: {{FRI}}
                        </ul>
                        <ul class="{{levelSat}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Saturday</u>
                                <br>
                                waiters: {{SAT}}
                        </ul>
                        <ul class="{{levelSun}}"
                                style="float:left; width:100px; background:orange; padding-left:0px; margin-left:30px">
                                <u>Sunday</u>
                                <br>
                                waiters: {{SUN}}
                        </ul>
                </div>
        </div>
</div>